@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome!";
}

<section class="text-center">
    <h1 class="display-4 mt-4">Welcome!</h1>
    <div>
        <p>This app allows users to share upcoming activities. Add your own event to the list! 😀</p>
    </div>
</section>
