@page "{code?}"
@model Activities.Pages.ActivitiesApp.NotFoundModel

<h1 class="mt-4">Resource Not Found!</h1>
@if(Model.Code.HasValue)
{
    <h3>Error: @Model.Code.Value</h3>
}
<a asp-page="index" class="btn btn-secondary"><i class="bi bi-house"></i>&nbsp; Return to home</a>
